/*
font-family: 'Fredoka One', cursive;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Chilanka', cursive;
font-family: 'Domine', serif;
font-family: 'Redressed', cursive;
font-family: 'Dynalight', cursive;
font-family: 'Bubblegum Sans', cursive;
*/

body {
  margin: 0;
}

h2 {
  font-family: 'Fredoka One', cursive;
  color: #FFC107;
  text-align: center;
  opacity: 0.9;
  font-size: 2.19em;
}

aside p {
  font-size: 35px;
}

header h1 {
  margin-top: 20px;
  font-family: 'Fredoka One', cursive;
  font-size: 5.625em;
  color: #FFC107;
  text-align: center;
  opacity: 0.9;
}

header {
  background-color: #00796B;
  opacity: 0.8;
  height: 10em;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  }

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23.60em;
  height: 30.60em;
  border: 5px solid black;
  margin: 50px 50px 50px 50px;
  
}


.menu1 span {
font-family: 'Ma Shan Zheng', cursive;
font-size: 35px;
margin-bottom: 20px;
}

.menu1 p {
  font-family: 'Chilanka', cursive;
  margin-top: 0;
}

.menu2 span {
font-family: 'Redressed', cursive;
font-size: 35px;
margin-bottom: 20px;
}

.menu2 p {
  font-family: 'Domine', serif;
  margin-top: 0;
}

.menu3 span {
font-family: 'Dynalight', cursive;
font-size: 35px;
margin-bottom: 20px;
}

.menu3 p {
  font-family: 'Bubblegum Sans', cursive;
  margin-top: 0;
}

.menu4 span {
font-family: 'Dynalight', cursive;
margin-bottom: 20px;
}

.menu4 p {
  font-family: 'Bubblegum Sans', cursive;
  margin-top: 0;
}

.btn {
  display: flex;
  background-color: white;
  margin: 50px 0 50px 0;
  justify-content: center;
}

.btn_link {
  width: 450px;
  line-height: 4.375em;
  text-align: center;
  vertical-align: middle;
  background-color: #00796B;
  opacity: 0.8;
  border-radius: 8px;
}

.btn a:link {
  font-family: 'Fredoka One', cursive;
  color: #FFC107;
  opacity: 0.9;
  font-size: 2.5em;
  text-decoration: none;
}

.btn a:visited {
  color: #FFC107;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #00796B;
  opacity: 0.8;
  font-family: 'Fredoka One', cursive;
}

footer p {
  color: #FFC107;
  opacity: 0.9;
  font-size: 28px;
}

footer a:link {
  color: #FFC107;
  opacity: 0.9;
  font-size: 28px;
  text-decoration: none;
}

.link_mention, .link_contact {
  margin: 20px 20px 20px 20px;
}
